@use '../../index' as i;

.helpful {
  background-color: transparent;
  border: 0px;
  color: i.$tertiaryTextColor;
  font-size: 12px;
}

.report {
  background-color: transparent;
  border: 0px;
  color: i.$tertiaryTextColor;
  font-size: 12px;
}

.review {
  border-bottom: 1px solid i.$borderColor;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
}

.reviewBottomBar {
  color: i.$tertiaryTextColor;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  padding: 0 10px 0 5px;
}

.reviewContent {
  padding: 0 10px 5px 10px;
}

.reviewPhoto {
  border-radius: 15%;
  height: 100px;
  width: auto;
  padding:5px;
}

.reviewPhotos {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  width: 100%;
  flex-flow: row wrap;
}

.reviewTitle {
  font-size: 20px;
  padding: 0 10px;
  overflow-x:hidden;
}

.reviewTopBar {
  display:flex;
  justify-content: space-between;
  padding: 5px 10px 0 10px;
}