@use '../../index' as i;

.answerModal {
  display: flex;
  flex: 1;
}


.backdrop {
  position: absolute;
  /* try fixed */
  flex-direction: column;

  background-color: white;
  border: 1px solid i.$borderColor;
  border-radius: 2%;
  z-index: 4;

  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.Modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modal-topbar {
  display: flex;
  justify-content: space-between;
  height: 3%;
  min-height: 25px;
  border-bottom: 1px solid i.$borderColor;
  background-color: #777;
  width: 100%;
}

.modal-topbar button {
  background-color: transparent;
  border: 0;
  padding: 0 3%;
}