.backdrop {
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 3;

  backdrop-filter: blur(5px);
}

.Modal {
  background-color: white;

  border: 1px solid #bbb;
  border-radius: 2%;
  position: absolute;
  height: 90vh;
  left: 5%;
  top: 5vh;
  width: 90%;
  z-index: 4;

  overflow: hidden;
}

.modal-topbar {
  display: flex;
  justify-content: space-between;
  height: 3%;
  border-bottom: 1px solid #bbb;
  background-color: #777;
}

.modal-topbar button {
  background-color: transparent;
  border: 0;
  padding: 0 3%;
}