body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* our stylings */
  font-family: 'Poppins', sans-serif;
  background-color: #fbfbfb;
  color: #1e1e1e;
}

/* react boilerplate */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* our stylings */
#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5%;
}

.fullScreenPhoto {
  position: fixed;
  width: auto;
  max-width: 90vw;
  height: auto;
  max-height: 90vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index:3;
}

.primaryText {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

$accentColor: #b90e0a;
$backgroundColor: #bbb;
$borderColor: #d7d7d7;
$mainTextColor: #1E1E1E;
$secondaryTextColor: #333232;
$tertiaryTextColor: #6b6a6a;

$darkAccentColor: #fb2548;

.dark {
  background-color: #141414;
  color: #ffffff;
}
