body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* our stylings */
  font-family: 'Poppins', sans-serif;
}

/* react boilerplate */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 0 5%;
}

.accentColor {
  color: #b90e0a;
}

.borderColor {
  border-color: #bbb;
}

.mainTextColor {
  color: #1e1e1e;
}

.secondaryTextColor {
  color: #bbb;
}


