


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* our stylings */
  font-family: 'Poppins', sans-serif;
}

/* react boilerplate */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 5%;
}

/* our stylings */

$backgroundColor: #bbb;

$accentColor: #b90e0a;

$borderColor: #bbb;

$mainTextColor: #1E1E1E;

.primaryText {
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

$secondaryTextColor: rgb(51, 50, 50);



