@use '../../index' as i;

.productHeader {
  border: 5px solid darkgreen;
  height: calc(100% / 3);
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 10px 0 10px 20px;
}

.productHeader h2,
.productHeader h3 {
  margin: 10px 0;
  color: i.$mainTextColor;
}

.productHeader h3 {
  color: i.$secondaryTextColor;
}