.answer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.answerDetails {
  display: flex;
  align-items: normal;
  padding-top: 2%;
}

.answerLabel {
  margin-right: 10px;
}

.answerRightSide {
  display: flex;
  flex-direction: column;

}

.lastButtons {
  padding-top: 2%;
}

.qaSearchBar {
  padding-bottom: .2%;
}

.questionsAndAnswers {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2%;
}

.questionsArray {
  max-height: 300px;
  overflow-y: scroll;

}
.questionOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.helpAndAdd {
  display: flex;
  align-items: baseline;
}

.usernameBold {
  font-weight: bold;
  padding-left: 2%;
}

.usernameRegular {
  font-weight: normal;
  padding-left: 2%;
}

.boldAndUnderline {
  font-weight: bold;
  text-decoration: underline;
}