.answer {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.answerLabel {
  margin-right: 10px;
}

.answerRightSide {
  display: flex;
  flex-direction: column;

}

.questionsAndAnswers {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: auto;
}

.questionOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.helpAndAdd {
  display: flex;
  align-items: baseline;
}