.emptyBar {
  background-color: #bbb;
  margin: 4px;
  z-index: 1;
}

.fullBar {
  background-color: #555;
  height: 8px;
}

.stars {
  display:flex;
}

.starFilter {
  background-color: transparent;
  border: 0px;
  color: #444;
  font-size: 12px;
  padding: 1px 6px 1px 0;
  text-decoration-line: underline;
}