.changeProduct {
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 0 10px 10px;
  width: 60%;
}

.darkTest {
  background-color: black;
}

.darkModeToggle {
  background-color: transparent;
  border: none;
}

.navbar {
  align-items: center;
  border-bottom: 1px solid;
  border-bottom: 1px solid;
  display: flex;
  height: 100px;
  justify-content: space-between;
  width: 100%;
}

.spider {
  height: 70px;
  margin-right: 20px;
  width: 70px;
}

